[submodule "export_fig"]
	path = export_fig
	url = https://github.com/altmany/export_fig
[submodule "spinw"]
	path = spinw
	url = https://github.com/tsdev/spinw
[submodule "Mtools"]
	path = Mtools
	url = https://github.com/substance33/Mtools
[submodule "ResLibCal"]
	path = ResLibCal
	url = https://github.com/substance33/ResLibCal
